# ---------------------------------------------------------------------------- #
# Prerequisites                                                                #
# ---------------------------------------------------------------------------- #
*.d

# ---------------------------------------------------------------------------- #
# Object files                                                                 #
# ---------------------------------------------------------------------------- #
*.o
*.ko
*.obj
*.elf
*.pyc

# ---------------------------------------------------------------------------- #
# Linker output                                                                #
# ---------------------------------------------------------------------------- #
*.ilk
*.map
*.exp

# ---------------------------------------------------------------------------- #
# Precompiled Headers                                                          #
# ---------------------------------------------------------------------------- #
*.gch
*.pch

# ---------------------------------------------------------------------------- #
# Libraries                                                                    #
# ---------------------------------------------------------------------------- #
*.lib
*.a
*.la
*.lo

# ---------------------------------------------------------------------------- #
# Shared objects (inc. Windows DLLs)                                           #
# ---------------------------------------------------------------------------- #
*.dll
*.so
*.so.*
*.dylib

# ---------------------------------------------------------------------------- #
# Executables                                                                  #
# ---------------------------------------------------------------------------- #
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ---------------------------------------------------------------------------- #
# Debug files                                                                  #
# ---------------------------------------------------------------------------- #
*.dSYM/
*.su
*.idb
*.pdb

# ---------------------------------------------------------------------------- #
# Kernel Module Compile Results                                                #
# ---------------------------------------------------------------------------- #
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ---------------------------------------------------------------------------- #
# OS Generated Files                                                           #
# ---------------------------------------------------------------------------- #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride
.nfs*

# ---------------------------------------------------------------------------- #
# Vim Backup Files                                                             #
# ---------------------------------------------------------------------------- #
*.swp
*.swo

# ---------------------------------------------------------------------------- #
# Clion Files                                                                  #
# ---------------------------------------------------------------------------- #
.idea/
cmake-build-debug/

# ---------------------------------------------------------------------------- #
# Files that might appear in the root of a volume                              #
# ---------------------------------------------------------------------------- #
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# ---------------------------------------------------------------------------- #
# Directories potentially created on remote AFP share                          #
# ---------------------------------------------------------------------------- #
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk